@charset "UTF-8";

:root{
    --font: 'Courier New', Courier, monospace;
}

*{
    margin: 0px;
    padding: 0px;
}

header > h1{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.500);
    font-variant: small-caps;
    margin: 30px auto;
    text-align: center;
}

body{
    font-family: var(--font);
    height: 100vh;
}

#container{
    display: block;
    margin: 50px auto;
    max-width: 400px;
    height: 600px;
    margin: auto;

    border: 1px solid black;
    border-radius: 5px;

    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.500);
    font-size: 1.5em;
    padding: 10px;
}

#resultado{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 420px;
}

input{
    margin-bottom: 10px;
    width: 99%;
    height: 3em;
    text-align: right;
}

#buttom{
    text-align: center;
}

